body {
  font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
}
.slidersection {
  position: relative;
  position: relative;
  padding-top: 230px;
  overflow: hidden;
}
h2.ourslabs {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  width: 100vw;
  min-width: 100vw;
  max-width: 77.5vw;
  font-family: serif;
}
.glide__track {
  overflow: visible;
}

.slab_slider__slide {
  padding: 16px 33px 10px;
  position: relative;
}
.slab_slider__slide__img-wrapper {
  overflow: hidden;
  height: 200px;
  position: relative;
}
.slab_slider__slide__img {
  position: absolute;
  left: -400px;
  top: -400px;
  transform: scale(0.7);
}
.slab_slider__slide {
  background-color: #363636;
}
.slab_slider__slide a {
  color: white !important;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.slab_slider__slide__background_text {
  display: none;
}
.slab_slider__slide__name {
  font-size: 28px;
  font-family: serif;
  height: 100px;
}
.slab_slider__slide__info {
  margin-top: 10px;
  line-height: 1.2;
  letter-spacing: 1;
}
.glide__slide--active ~ li > div > a > div.slab_slider__slide__background_text {
  left: 0 !important;
}
.slab_slider__slide > a > :nth-child(1) {
  order: 1;
  font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
}
.slab_slider__slide > a > :nth-child(4) {
  order: 2;
  margin-top: 5px;
}
.slab_slider__slide > a > :nth-child(3) {
  order: 3;
  margin-top: 12px;
}
.slab_slider__slide > a > :nth-child(5) {
  order: 4;
}
.slab_slider__slide > a > :nth-child(6) {
  order: 5;
  margin-top: 64px;
  margin-bottom: 40px;
}
.SlabCollection-module--swipe-note--V1Dio {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}
.SlabCollection-module--swipe-note--V1Dio img {
  margin-left: 15px;
}
.glide__slide.glide__slide--active .slab_slider__slide__details-btn {
  position: absolute;
  z-index: 300;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
  max-height: 355px;
}
.glide__slide.glide__slide--active
  .slab_slider__slide__img-wrapper:hover
  .slab_slider__slide__details-btn {
  display: flex !important;
  background: rgba(0, 0, 0, 0.45);
}
.glide__slide.glide__slide--active
  .slab_slider__slide__img-wrapper:hover
  .slab_slider__slide__details-btn
  div {
  display: flex;
}
.SlabCollection-module--btn-see-all--PRQwF {
  width: 260px;
  border-left: 1px solid grey;
  padding-top: 36px;
  padding-left: 15px;
  margin-left: 71.5vw;
  margin-top: -20px;
}
.ArrowButton-module--ArrowButton--1cABk {
  cursor: pointer;
  font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 0;
  letter-spacing: 0.15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ArrowButton-module--ArrowButton--1cABk > div {
  padding: 0.2rem 0;
  white-space: nowrap;
}
.ArrowButton-module--ArrowButton--1cABk img {
  height: 3rem;
  max-height: 3rem;
  width: auto;
}
.glide__arrows {
  display: none;
}

@media (min-width: 800px) {
  .glide__arrows {
    display: flex;
  }
  .glide__slides li.glide__slide--active > div:before {
    z-index: -1;
    content: " ";
    width: 90%;
    height: 100%;
    display: block;
    border: 1px solid #363636;
    position: absolute;
    top: -80px;
    right: -40px;
  }
  .glide__arrow.glide__arrow--right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 15vw;
    cursor: pointer;
    opacity: 0;
  }
  .glide__arrow.glide__arrow--left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 15vw;
    cursor: pointer;
    opacity: 0;
  }
  .ourslabs {
    /* display: none; */
  }
  .slab_slider__slide__name {
    font-size: 35px;
  }
  .glide__slides li.glide__slide .slab_slider__slide__info,
  .glide__slides li.glide__slide .slab_slider__slide__name {
    display: none;
  }
  .glide__slides li.glide__slide {
    transform: scale(0.7) !important;
    transition: transform 0.4s linear 0s !important;
    width: 830px;
    height: 425px;
    overflow: hidden;
  }
  .slab_slider__slide__img-wrapper {
    height: 465px;
  }
  .glide__slides
    li.glide__slide:not(.glide__slide--active)
    .slab_slider__slide {
    background-color: transparent;
    padding: 35px 0 10px;
  }
  .glide__slides
    li.glide__slide:not(.glide__slide--active)
    .slab_slider__slide__background_text {
    display: block;
    font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: #000;
    position: fixed;
    top: 0;
    right: 0;
  }
  .glide__slides li.glide__slide.glide__slide--active {
    height: 490px;
    transform: scale(1) !important;
    transition: transform 0.4s linear 0s !important;
    vertical-align: top;
    /* width: 830px !important; */
    overflow: visible;
  }
  .glide__slides {
    overflow: visible;
  }
  .glide__slides li.glide__slide.glide__slide--active a div {
    display: none;
  }
  .glide__slides
    li.glide__slide.glide__slide--active
    a
    div.slab_slider__slide__img-wrapper {
    display: flex;
    height: 100%;
  }
  .glide__slides
    li.glide__slide.glide__slide--active
    a
    div.slab_slider__slide__background_text {
    display: flex;
    font-size: 40px;
    margin-bottom: 13px;
    font-family: serif;
  }
  .glide__slides
    li.glide__slide.glide__slide--active
    a
    div.slab_slider__slide__img-wrapper
    .slab_slider__slide__img {
    position: relative;
    left: 0;
    top: 0;

    height: 325px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transform: scale(1.3);
  }

  .glide__slides li.glide__slide.glide__slide--active .slab_slider__slide {
    background-color: #363636;
    /* width: 830px; */
    height: 490px;
    overflow: visible;
    color: #fff;
    position: relative;
    font-weight: 400;
    font-style: normal;
    padding: 30px 115px 0;
  }
  .glide__slides
    li.glide__slide.glide__slide--active
    a
    div.slab_slider__slide__info {
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .glide__slides
    li.glide__slide.glide__slide--active
    a
    div.slab_slider__slide__info
    div {
    display: flex;
  }
  .SlabCollection-module--slab_slider__numbering--1JD2o {
    display: none;
  }
}

@media (max-width: 480px) {
  .glide__arrows {
    display: none;
  }
  .SlabCollection-module--btn-see-all--PRQwF {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .SlabCollection-module--btn-see-all--PRQwF {
    margin: 0 auto 48px;
    padding-top: 0;
    border-left: 0;
  }
  .glide__slide.glide__slide--active
    .slab_slider__slide__img-wrapper:hover
    .slab_slider__slide__details-btn
    div {
    display: none;
  }
}
